.playground {
  display: flex;
  justify-content: space-around;
}
.board-container {
  width: 30vw;
  height: 30vw;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}
.cell {
  border: 1px solid black;
  box-sizing: border-box;
}
.cell.ship {
  background-color: rgb(68, 68, 68);
}
